body {
  font-family: "Comic Sans MS";
  font-style: normal;
  text-decoration: none;
  background-color: #99ccff;
  font: normal normal normal/normal "Comic Sans MS";
  color: Teal;
}
nav {
  background-color: lightcoral;
  padding: 10px;
  border-radius: 4px;
}
main {
  background-color: lightblue;
  padding: 10px;
  border-radius: 4px;
}
footer {
  background-color: lightgreen;
  padding: 10px;
  border-radius: 4px;
}
a:link {
  text-decoration: none;
  font-family: "Comic Sans MS";
  font: normal normal normal/normal "Comic Sans MS";
}
a:visited {
  color: #00ff00;
  text-decoration: none;
  font-family: "Comic Sans MS";
}
a:active {
  color: #ff0000;
  text-decoration: none;
  font-family: "Comic Sans MS";
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Comic Sans MS";
}
hr {
  width: 95%;
  text-align: center;
}
