BODY {
	font-family: "Comic Sans MS";
	font-style: normal;
	text-decoration: none;
	background-color : #99CCFF;
	font : normal normal normal/normal "Comic Sans MS";
    color : Teal;
    nav {
        background-color: coral;
        padding: 10px;
        border-radius: 4px;
    }
    main {
        background-color: blue;
        padding: 10px;
        border-radius: 4px;
    }
    footer {
        background-color: green;
        padding: 10px;
        border-radius: 4px;
    }
}
   A:link {
	text-decoration : none;
	font-family : "Comic Sans MS";
	font : normal normal normal/normal "Comic Sans MS";
	}
   A:visited {
	color: #00FF00;
	text-decoration : none;
	font-family : "Comic Sans MS";
}
   A:active {
	color: #FF0000;
	text-decoration : none;
	font-family : "Comic Sans MS";
}
H1, H2, H3, H4, H5, H6, P {
	font-family : "Comic Sans MS";
}
HR {
	width : 95%;
	text-align : center;
}